<div class="ms-CommandBar ms-CommandBar--navBar" style="position: fixed; width: 100%; top: 0; z-index:1;">
    <div class="ms-CommandBar-mainArea">
        <ng-template [ngIf]="!authService.isAuthenticated()">
            <div class="ms-CommandButton ms-CommandButton--pivot" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                <a class="ms-CommandButton-button" routerLink="/"> <span class="ms-CommandButton-label">Cloud</span>  </a>
            </div>
            <div class="ms-CommandButton ms-CommandButton--pivot" routerLinkActive="is-active">
                <a class="ms-CommandButton-button" routerLink="/auth-admin"> <span class="ms-CommandButt